---
http_interactions:
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/requestSmsCode
    body:
      encoding: UTF-8
      string: '{"mobilePhoneNumber":"18668012283","op":"test","ttl":5}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Fri, 10 Apr 2015 09:57:10 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/verifySmsCode/123456
    body:
      encoding: UTF-8
      string: '{"mobilePhoneNumber":"18668012283"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":603,"error":"\u65e0\u6548\u7684\u77ed\u4fe1\u9a8c\u8bc1\u7801"}'
  recorded_at: Tue, 16 Jun 2015 08:19:09 GMT
recorded_with: VCR 2.4.0
