---
http_interactions:
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"foo"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/55279e7be4b0da2c5df03632
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:57:15.873Z","objectId":"55279e7be4b0da2c5df03632"}'
  recorded_at: Fri, 10 Apr 2015 09:57:15 GMT
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/cloudQuery?cql=select%20*,count(*)%20from%20Post&pvalues=%5B%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"title":"foo","createdAt":"2015-04-09T03:44:40.580Z","updatedAt":"2015-04-09T03:44:40.580Z","objectId":"5525f5a8e4b06a6fc7f09533"},{"other":{"__type":"Pointer","className":"Post","objectId":"5525f51be4b06a6fc7f0914e"},"title":"bar","createdAt":"2015-04-09T03:42:19.468Z","updatedAt":"2015-04-09T03:42:19.468Z","objectId":"5525f51be4b06a6fc7f09152"},{"createdAt":"2015-04-09T23:59:54.063Z","updatedAt":"2015-04-09T23:59:54.063Z","objectId":"5527127ae4b0f5436834ecd0"},{"createdAt":"2015-04-09T23:49:13.226Z","updatedAt":"2015-04-09T23:49:13.226Z","objectId":"55270ff9e4b0f5436834e1c3"},{"other":{"__type":"Pointer","className":"Post","objectId":"5525f59ae4b06a6fc7f094c5"},"createdAt":"2015-04-09T03:44:27.245Z","updatedAt":"2015-04-09T03:44:27.245Z","objectId":"5525f59be4b06a6fc7f094c7"},{"updatedAt":"2015-04-09T03:41:59.188Z","createdAt":"2015-04-09T03:41:58.333Z","comments":[{"__type":"Pointer","className":"Comment","objectId":"5525f506e4b06a6fc7f090af"}],"objectId":"5525f506e4b06a6fc7f090ae"},{"comments":[{"__type":"Pointer","className":"Comment","objectId":"5525f505e4b06a6fc7f090a7"}],"createdAt":"2015-04-09T03:41:57.715Z","updatedAt":"2015-04-09T03:41:57.715Z","objectId":"5525f505e4b06a6fc7f090aa"},{"title":"foo","createdAt":"2015-04-09T03:44:39.728Z","updatedAt":"2015-04-09T03:44:39.728Z","objectId":"5525f5a7e4b06a6fc7f0952b"},{"createdAt":"2015-04-09T23:49:10.731Z","updatedAt":"2015-04-09T23:49:10.731Z","objectId":"55270ff6e4b0f5436834e1b5"},{"updatedAt":"2015-04-09T03:44:23.631Z","createdAt":"2015-04-09T03:44:23.291Z","chapters":["hello","goodbye"],"objectId":"5525f597e4b06a6fc7f094ae"},{"createdAt":"2015-04-09T23:47:14.604Z","updatedAt":"2015-04-09T23:47:14.604Z","objectId":"55270f82e4b0f5436834deb6"},{"title":"foo","createdAt":"2015-04-09T03:44:39.167Z","updatedAt":"2015-04-09T03:44:39.167Z","objectId":"5525f5a7e4b06a6fc7f09525"},{"random":0.1393653518584047,"createdAt":"2015-04-09T03:44:42.144Z","updatedAt":"2015-04-09T03:44:42.144Z","objectId":"5525f5aae4b06a6fc7f09542"},{"createdAt":"2015-04-09T23:47:12.675Z","updatedAt":"2015-04-09T23:47:12.675Z","objectId":"55270f80e4b0f5436834deae"},{"title":"foo","createdAt":"2015-04-09T03:44:37.348Z","updatedAt":"2015-04-09T03:44:37.348Z","objectId":"5525f5a5e4b06a6fc7f09511"},{"updatedAt":"2015-04-09T03:44:33.962Z","title":"hello
        2","createdAt":"2015-04-09T03:44:33.556Z","objectId":"5525f5a1e4b06a6fc7f094f6"},{"updatedAt":"2015-04-09T03:44:29.479Z","createdAt":"2015-04-09T03:44:29.156Z","objectId":"5525f59de4b06a6fc7f094d8"},{"updatedAt":"2015-04-09T03:44:26.635Z","createdAt":"2015-04-09T03:44:26.297Z","count":0,"objectId":"5525f59ae4b06a6fc7f094c1"},{"location":{"longitude":40.0,"latitude":-30.0,"__type":"GeoPoint"},"createdAt":"2015-04-09T03:41:50.220Z","updatedAt":"2015-04-09T03:41:50.220Z","objectId":"5525f4fee4b06a6fc7f09071"},{"createdAt":"2015-04-09T23:47:11.186Z","updatedAt":"2015-04-09T23:47:11.186Z","objectId":"55270f7fe4b0f5436834dea5"},{"createdAt":"2015-04-09T23:47:10.431Z","updatedAt":"2015-04-09T23:47:10.431Z","objectId":"55270f7ee4b0f5436834de9b"},{"time":{"iso":"1970-01-01T00:00:00.000Z","__type":"Date"},"createdAt":"2015-04-09T03:44:18.164Z","updatedAt":"2015-04-09T03:44:18.164Z","objectId":"5525f592e4b06a6fc7f09481"},{"random":0.9190024386786158,"createdAt":"2015-04-09T03:43:43.920Z","updatedAt":"2015-04-09T03:43:43.920Z","objectId":"5525f56fe4b06a6fc7f09390"},{"random":0.3784856930913485,"createdAt":"2015-04-09T03:43:43.262Z","updatedAt":"2015-04-09T03:43:43.262Z","objectId":"5525f56fe4b06a6fc7f0938a"},{"location":{"longitude":40.0,"latitude":-30.0,[...]
