---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Foo/kYSRJkUXxC
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:18.215Z","objectId":"kYSRJkUXxC"}'
  recorded_at: Mon, 22 Apr 2013 16:03:18 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Foo/kYSRJkUXxC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aaa365c13f25dbcbd787acc7edffbd31"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:18.215Z","updatedAt":"2013-04-22T16:03:18.215Z","objectId":"kYSRJkUXxC"}'
  recorded_at: Mon, 22 Apr 2013 16:03:19 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Foo
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Foo/5527939ae4b0da2c5defa1e3
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:50.275Z","objectId":"5527939ae4b0da2c5defa1e3"}'
  recorded_at: Fri, 10 Apr 2015 09:10:50 GMT
[...]
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Foo/5527939ae4b0da2c5defa1e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:10:50.275 GMT
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:50.275Z","updatedAt":"2015-04-10T09:10:50.275Z","objectId":"5527939ae4b0da2c5defa1e3"}'
  recorded_at: Fri, 10 Apr 2015 09:10:50 GMT
recorded_with: VCR 2.4.0
