---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"count":1}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/mbi9hgIA8z
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-05-21T17:44:02.950Z","objectId":"mbi9hgIA8z"}'
  recorded_at: Tue, 21 May 2013 17:44:02 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/mbi9hgIA8z
    body:
      encoding: UTF-8
      string: '{"count":{"__op":"Increment","amount":-1}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"801ca6262d69a0dcff8d69e7f078aaca"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"count":0,"updatedAt":"2013-05-21T17:44:03.131Z"}'
  recorded_at: Tue, 21 May 2013 17:44:03 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{"count":1}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/55279398e4b0da2c5defa1d1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:48.759Z","objectId":"55279398e4b0da2c5defa1d1"}'
  recorded_at: Fri, 10 Apr 2015 09:10:48 GMT
- request:
    method: put
    uri: https://api.leancloud.cn/1.1/classes/Post/55279398e4b0da2c5defa1d1?new=true
    body:
      encoding: UTF-8
      string: '{"count":{"__op":"Increment","amount":-1}}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"objectId":"55279398e4b0da2c5defa1d1","count":0,"updatedAt":"2015-04-10T09:10:49.069Z"}'
  recorded_at: Fri, 10 Apr 2015 09:10:49 GMT
recorded_with: VCR 2.4.0
