---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a29bdd9e603493317bf0b36ce9e0db1f"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"array":[1,2,5,6,7],"createdAt":"2014-07-29T23:15:17.390Z","updatedAt":"2014-07-29T23:15:17.390Z","objectId":"TRD3lrtSSd"},{"array":[3,4,5,6],"createdAt":"2014-07-29T23:15:17.615Z","updatedAt":"2014-07-29T23:15:17.615Z","objectId":"3JTX8CY12F"}]}'
  recorded_at: Tue, 29 Jul 2014 23:17:03 GMT
- request:
    method: delete
    uri: https://api.parse.com/1/classes/Cactus/TRD3lrtSSd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"99914b932bd37a50b983c5e7c90ae93b"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{}'
  recorded_at: Tue, 29 Jul 2014 23:17:04 GMT
- request:
    method: delete
    uri: https://api.parse.com/1/classes/Cactus/3JTX8CY12F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"99914b932bd37a50b983c5e7c90ae93b"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{}'
  recorded_at: Tue, 29 Jul 2014 23:17:04 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Cactus
    body:
      encoding: UTF-8
      string: '{"array":[1,2,5,6,7]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Cactus/aRfKHerSiY
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2014-07-29T23:17:01.774Z","objectId":"aRfKHerSiY"}'
  recorded_at: Tue, 29 Jul 2014 23:17:04 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B5,6%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3dc3866a1837dd9ce06d243cfcd43af8"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"array":[1,2,5,6,7],"createdAt":"2014-07-29T23:17:01.774Z","updatedAt":"2014-07-29T23:17:01.774Z","objectId":"aRfKHerSiY"},{"array":[3,4,5,6],"createdAt":"2014-07-29T23:17:02.032Z","updatedAt":"2014-07-29T23:17:02.032Z","objectId":"49IRCZEBBr"}]}'
  recorded_at: Tue, 29 Jul 2014 23:17:05 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B1,5,6%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"019c5bcea7a81f41cbba668aaef5d707"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"array":[1,2,5,6,7],"createdAt":"2014-07-29T23:17:01.774Z","updatedAt":"2014-07-29T23:17:01.774Z","objectId":"aRfKHerSiY"}]}'
  recorded_at: Tue, 29 Jul 2014 23:17:05 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B9%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e2412c1ffbfb6b53a82a9daf665b2c1a"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[]}'
  recorded_at: Tue, 29 Jul 2014 23:17:06 GMT
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Cactus?where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:08:47.307 GMT
    body:
      encoding: UTF-8
      string: '{"results":[{"array":[3,4,5,6],"createdAt":"2015-04-10T09:08:47.304Z","updatedAt":"2015-04-10T09:08:47.304Z","objectId":"5527931fe4b0da2c5def9ce8"},{"array":[1,2,5,6,7],"createdAt":"2015-04-10T09:08:47.011Z","updatedAt":"2015-04-10T09:08:47.011Z","objectId":"5527931fe4b0da2c5def9ce6"}]}'
  recorded_at: Fri, 10 Apr 2015 09:10:56 GMT
- request:
    method: delete
    uri: https://api.leancloud.cn/1.1/classes/Cactus/5527931fe4b0da2c5def9ce8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Fri, 10 Apr 2015 09:10:56 GMT
[...]
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Cactus
    body:
      encoding: UTF-8
      string: '{"array":[1,2,5,6,7]}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Cactus/552793a0e4b0da2c5defa240
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:56.945Z","objectId":"552793a0e4b0da2c5defa240"}'
  recorded_at: Fri, 10 Apr 2015 09:10:56 GMT
[...]
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B5,6%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:10:57.265 GMT
    body:
      encoding: UTF-8
      string: '{"results":[{"array":[3,4,5,6],"createdAt":"2015-04-10T09:10:57.262Z","updatedAt":"2015-04-10T09:10:57.262Z","objectId":"552793a1e4b0da2c5defa242"},{"array":[1,2,5,6,7],"createdAt":"2015-04-10T09:10:56.945Z","updatedAt":"2015-04-10T09:10:56.945Z","objectId":"552793a0e4b0da2c5defa240"}]}'
  recorded_at: Fri, 10 Apr 2015 09:10:57 GMT
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B1,5,6%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:10:57.265 GMT
    body:
      encoding: UTF-8
      string: '{"results":[{"array":[1,2,5,6,7],"createdAt":"2015-04-10T09:10:56.945Z","updatedAt":"2015-04-10T09:10:56.945Z","objectId":"552793a0e4b0da2c5defa240"}]}'
  recorded_at: Fri, 10 Apr 2015 09:10:57 GMT
[...]
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B9%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:10:57.265 GMT
    body:
      encoding: UTF-8
      string: '{"results":[]}'
  recorded_at: Fri, 10 Apr 2015 09:10:58 GMT
recorded_with: VCR 2.4.0
