---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/classes/SomeClass/someIdThatDoesNotExist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"code":101,"error":"object not found for get"}'
  recorded_at: Mon, 22 Apr 2013 16:03:14 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/SomeClass/someIdThatDoesNotExist
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Http-Method-Override:
      - GET
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"code":101,"error":"object not found for get"}'
  recorded_at: Wed, 26 Mar 2014 15:21:14 GMT
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/SomeClass/someIdThatDoesNotExist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":101,"error":"Class or object doesn''t exists."}'
  recorded_at: Fri, 10 Apr 2015 09:10:33 GMT
recorded_with: VCR 2.4.0
