---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Foo/HSnqug5bVz
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:23.615Z","objectId":"HSnqug5bVz"}'
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Bar
    body:
      encoding: UTF-8
      string: '{"foo":{"__type":"Pointer","className":"Foo","objectId":"HSnqug5bVz"},"bar":"bar"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Bar/Nuf7IHH45A
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:23.818Z","objectId":"Nuf7IHH45A"}'
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Bar?where=%7B%22foo%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Foo%22,%22objectId%22:%22HSnqug5bVz%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b63983d87af9baa682b282eafc0114d0"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"foo":{"__type":"Pointer","className":"Foo","objectId":"HSnqug5bVz"},"bar":"bar","createdAt":"2013-04-22T16:03:23.818Z","updatedAt":"2013-04-22T16:03:23.818Z","objectId":"Nuf7IHH45A"}]}'
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
[...]
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Foo
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Foo/552793a2e4b0da2c5defa251
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:58.980Z","objectId":"552793a2e4b0da2c5defa251"}'
  recorded_at: Fri, 10 Apr 2015 09:10:59 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Bar
    body:
      encoding: UTF-8
      string: '{"foo":{"__type":"Pointer","className":"Foo","objectId":"552793a2e4b0da2c5defa251"},"bar":"bar"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Bar/552793a3e4b0da2c5defa255
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:59.264Z","objectId":"552793a3e4b0da2c5defa255"}'
  recorded_at: Fri, 10 Apr 2015 09:10:59 GMT
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Bar?where=%7B%22foo%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Foo%22,%22objectId%22:%22552793a2e4b0da2c5defa251%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:10:59.269 GMT
    body:
      encoding: UTF-8
      string: '{"results":[{"bar":"bar","foo":{"__type":"Pointer","className":"Foo","objectId":"552793a2e4b0da2c5defa251"},"createdAt":"2015-04-10T09:10:59.264Z","updatedAt":"2015-04-10T09:10:59.264Z","objectId":"552793a3e4b0da2c5defa255"}]}'
  recorded_at: Fri, 10 Apr 2015 09:10:59 GMT
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Bar?where=%7B%22foo%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Foo%22,%22objectId%22:%22552793a2e4b0da2c5defa251%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:10:59.269 GMT
    body:
      encoding: UTF-8
      string: '{"results":[{"bar":"bar","foo":{"__type":"Pointer","className":"Foo","objectId":"552793a2e4b0da2c5defa251"},"createdAt":"2015-04-10T09:10:59.264Z","updatedAt":"2015-04-10T09:10:59.264Z","objectId":"552793a3e4b0da2c5defa255"}]}'
  recorded_at: Fri, 10 Apr 2015 09:10:59 GMT
recorded_with: VCR 2.4.0
