---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"read":false,"published":true}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/Gz18MFpKTf
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-23T19:00:13.926Z","objectId":"Gz18MFpKTf"}'
  recorded_at: Tue, 23 Apr 2013 19:00:13 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?where=%7B%22objectId%22:%22Gz18MFpKTf%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f0b18c76d2bf8fac854f1de08cbe253b"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"read":false,"published":true,"createdAt":"2013-04-23T19:00:13.926Z","updatedAt":"2013-04-23T19:00:13.926Z","objectId":"Gz18MFpKTf"}]}'
  recorded_at: Tue, 23 Apr 2013 19:00:41 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{"read":false,"published":true}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/5527939fe4b0da2c5defa22c
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:55.059Z","objectId":"5527939fe4b0da2c5defa22c"}'
  recorded_at: Fri, 10 Apr 2015 09:10:55 GMT
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Post?where=%7B%22objectId%22:%225527939fe4b0da2c5defa22c%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:10:55.060 GMT
    body:
      encoding: UTF-8
      string: '{"results":[{"published":true,"read":false,"createdAt":"2015-04-10T09:10:55.059Z","updatedAt":"2015-04-10T09:10:55.059Z","objectId":"5527939fe4b0da2c5defa22c"}]}'
  recorded_at: Fri, 10 Apr 2015 09:10:55 GMT
recorded_with: VCR 2.4.0
