---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"1"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"2"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"3"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"4"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"5"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4e31197824084ee67079f3c9339dcc05"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '[{"success":{"createdAt":"2013-04-22T16:03:12.247Z","objectId":"GmYCJg3UEn"}},{"success":{"createdAt":"2013-04-22T16:03:12.260Z","objectId":"n9YMhLLWS2"}},{"success":{"createdAt":"2013-04-22T16:03:12.273Z","objectId":"qZMhOJkMF1"}},{"success":{"createdAt":"2013-04-22T16:03:12.285Z","objectId":"ktaIPuyrHL"}},{"success":{"createdAt":"2013-04-22T16:03:12.298Z","objectId":"xj8aXgqLhu"}}]'
  recorded_at: Mon, 22 Apr 2013 16:03:12 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"POST","path":"/1.1/classes/BatchTestObject","body":{"foo":"1"}},{"method":"POST","path":"/1.1/classes/BatchTestObject","body":{"foo":"2"}},{"method":"POST","path":"/1.1/classes/BatchTestObject","body":{"foo":"3"}},{"method":"POST","path":"/1.1/classes/BatchTestObject","body":{"foo":"4"}},{"method":"POST","path":"/1.1/classes/BatchTestObject","body":{"foo":"5"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"success":{"createdAt":"2015-04-10T09:10:27.203Z","objectId":"55279383e4b0da2c5defa0b8"}},{"success":{"createdAt":"2015-04-10T09:10:27.210Z","objectId":"55279383e4b0da2c5defa0b9"}},{"success":{"createdAt":"2015-04-10T09:10:27.217Z","objectId":"55279383e4b0da2c5defa0ba"}},{"success":{"createdAt":"2015-04-10T09:10:27.224Z","objectId":"55279383e4b0da2c5defa0bb"}},{"success":{"createdAt":"2015-04-10T09:10:27.230Z","objectId":"55279383e4b0da2c5defa0bc"}}]'
  recorded_at: Fri, 10 Apr 2015 09:10:27 GMT
recorded_with: VCR 2.4.0
