---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/toBeDeleted
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/toBeDeleted/UgkonZ2mII
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:14.108Z","objectId":"UgkonZ2mII"}'
  recorded_at: Mon, 22 Apr 2013 16:03:14 GMT
- request:
    method: delete
    uri: https://api.parse.com/1/classes/toBeDeleted/UgkonZ2mII
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"99914b932bd37a50b983c5e7c90ae93b"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{}'
  recorded_at: Mon, 22 Apr 2013 16:03:14 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/toBeDeleted
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/toBeDeleted/55279388e4b0da2c5defa10a
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:32.615Z","objectId":"55279388e4b0da2c5defa10a"}'
  recorded_at: Fri, 10 Apr 2015 09:10:32 GMT
- request:
    method: delete
    uri: https://api.leancloud.cn/1.1/classes/toBeDeleted/55279388e4b0da2c5defa10a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Fri, 10 Apr 2015 09:10:32 GMT
recorded_with: VCR 2.4.0
