---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"chapters":["hello"]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/NXqztkxx68
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:17.004Z","objectId":"NXqztkxx68"}'
  recorded_at: Mon, 22 Apr 2013 16:03:17 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/NXqztkxx68
    body:
      encoding: UTF-8
      string: '{"chapters":{"__op":"Add","objects":["goodbye"]}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"828730200fb880f8d7602dae59972493"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"chapters":["hello","goodbye"],"updatedAt":"2013-04-22T16:03:17.059Z"}'
  recorded_at: Mon, 22 Apr 2013 16:03:17 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{"chapters":["hello"]}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/55279395e4b0da2c5defa1b6
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:45.914Z","objectId":"55279395e4b0da2c5defa1b6"}'
  recorded_at: Fri, 10 Apr 2015 09:10:45 GMT
- request:
    method: put
    uri: https://api.leancloud.cn/1.1/classes/Post/55279395e4b0da2c5defa1b6?new=true
    body:
      encoding: UTF-8
      string: '{"chapters":{"__op":"Add","objects":["goodbye"]}}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"objectId":"55279395e4b0da2c5defa1b6","chapters":["hello","goodbye"],"updatedAt":"2015-04-10T09:10:46.201Z"}'
  recorded_at: Fri, 10 Apr 2015 09:10:46 GMT
recorded_with: VCR 2.4.0
