---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"foo"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/jpI8JVVkbM
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:24.147Z","objectId":"jpI8JVVkbM"}'
  recorded_at: Mon, 22 Apr 2013 16:03:24 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/jpI8JVVkbM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4b15e6b6503c74074161848474b33fcb"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"title":"foo","createdAt":"2013-04-22T16:03:24.147Z","updatedAt":"2013-04-22T16:03:24.147Z","objectId":"jpI8JVVkbM"}'
  recorded_at: Mon, 22 Apr 2013 16:03:24 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"foo"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/552793a4e4b0da2c5defa25b
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:11:00.031Z","objectId":"552793a4e4b0da2c5defa25b"}'
  recorded_at: Fri, 10 Apr 2015 09:11:00 GMT
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Post/552793a4e4b0da2c5defa25b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:11:00.031 GMT
    body:
      encoding: UTF-8
      string: '{"title":"foo","createdAt":"2015-04-10T09:11:00.031Z","updatedAt":"2015-04-10T09:11:00.031Z","objectId":"552793a4e4b0da2c5defa25b"}'
  recorded_at: Fri, 10 Apr 2015 09:11:00 GMT
recorded_with: VCR 2.4.0
