---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"foo"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/BdpVUDiBzc
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:24.305Z","objectId":"BdpVUDiBzc"}'
  recorded_at: Mon, 22 Apr 2013 16:03:24 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"bar","other":{"__type":"Pointer","className":"Post","objectId":"BdpVUDiBzc"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/DLMpekrfKt
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:24.373Z","objectId":"DLMpekrfKt"}'
  recorded_at: Mon, 22 Apr 2013 16:03:24 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?include=other&where=%7B%22objectId%22:%22DLMpekrfKt%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13660208a0519bfd06c7e56a4cd9e511"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"title":"bar","other":{"title":"foo","createdAt":"2013-04-22T16:03:24.305Z","updatedAt":"2013-04-22T16:03:24.305Z","objectId":"BdpVUDiBzc","__type":"Object","className":"Post"},"createdAt":"2013-04-22T16:03:24.373Z","updatedAt":"2013-04-22T16:03:24.373Z","objectId":"DLMpekrfKt"}]}'
  recorded_at: Mon, 22 Apr 2013 16:03:24 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"foo"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/552793a4e4b0da2c5defa25e
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:11:00.568Z","objectId":"552793a4e4b0da2c5defa25e"}'
  recorded_at: Fri, 10 Apr 2015 09:11:00 GMT
[...]
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Post?include=other&where=%7B%22objectId%22:%22552793a4e4b0da2c5defa265%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:11:00.924 GMT
    body:
      encoding: UTF-8
      string: '{"results":[{"other":{"title":"foo","createdAt":"2015-04-10T09:11:00.568Z","updatedAt":"2015-04-10T09:11:00.568Z","objectId":"552793a4e4b0da2c5defa25e","__type":"Pointer","className":"Post"},"title":"bar","createdAt":"2015-04-10T09:11:00.923Z","updatedAt":"2015-04-10T09:11:00.923Z","objectId":"552793a4e4b0da2c5defa265"}]}'
  recorded_at: Fri, 10 Apr 2015 09:11:01 GMT
recorded_with: VCR 2.4.0
