---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Bar
    body:
      encoding: UTF-8
      string: '{"foobar":"foobar"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Bar/yDpCynCG2B
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:22.831Z","objectId":"yDpCynCG2B"}'
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body:
      encoding: UTF-8
      string: '{"bar":{"__type":"Pointer","className":"Bar","objectId":"yDpCynCG2B"},"bars":[{"__type":"Pointer","className":"Bar","objectId":"yDpCynCG2B"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Foo/ma4CFzqV7V
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:23.060Z","objectId":"ma4CFzqV7V"}'
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Foo?include=bar,bars&where=%7B%22objectId%22:%22ma4CFzqV7V%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f04d35c92565b25735569f5b522d64c5"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bar":{"foobar":"foobar","createdAt":"2013-04-22T16:03:22.831Z","updatedAt":"2013-04-22T16:03:22.831Z","objectId":"yDpCynCG2B","__type":"Object","className":"Bar"},"bars":[{"foobar":"foobar","createdAt":"2013-04-22T16:03:22.831Z","updatedAt":"2013-04-22T16:03:22.831Z","objectId":"yDpCynCG2B","__type":"Object","className":"Bar"}],"createdAt":"2013-04-22T16:03:23.060Z","updatedAt":"2013-04-22T16:03:23.060Z","objectId":"ma4CFzqV7V"}]}'
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Foo/ma4CFzqV7V
    body:
      encoding: UTF-8
      string: '{"bar":{"__type":"Pointer","className":"Bar","objectId":"yDpCynCG2B"},"bars":[{"__type":"Pointer","className":"Bar","objectId":"yDpCynCG2B"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"121322612a01be446234b462ecdd06d4"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"updatedAt":"2013-04-22T16:03:23.200Z"}'
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Bar/yDpCynCG2B
    body:
      encoding: UTF-8
      string: '{"foobar":"foobar","baz":"baz"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"15f2241d747af88f901741396f8932e3"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"updatedAt":"2013-04-22T16:03:23.255Z"}'
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Bar
    body:
      encoding: UTF-8
      string: '{"foobar":"foobar"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Bar/5527939de4b0da2c5defa209
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:53.779Z","objectId":"5527939de4b0da2c5defa209"}'
  recorded_at: Fri, 10 Apr 2015 09:10:53 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Foo
    body:
      encoding: UTF-8
      string: '{"bar":{"__type":"Pointer","className":"Bar","objectId":"5527939de4b0da2c5defa209"},"bars":[{"__type":"Pointer","className":"Bar","objectId":"5527939de4b0da2c5defa209"}]}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Foo/5527939ee4b0da2c5defa20c
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:54.057Z","objectId":"5527939ee4b0da2c5defa20c"}'
  recorded_at: Fri, 10 Apr 2015 09:10:54 GMT
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Foo?include=bar,bars&where=%7B%22objectId%22:%225527939ee4b0da2c5defa20c%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:10:54.058 GMT
    body:
      encoding: UTF-8
      string: '{"results":[{"bars":[{"foobar":"foobar","createdAt":"2015-04-10T09:10:53.779Z","updatedAt":"2015-04-10T09:10:53.779Z","objectId":"5527939de4b0da2c5defa209","__type":"Pointer","className":"Bar"}],"bar":{"foobar":"foobar","createdAt":"2015-04-10T09:10:53.779Z","updatedAt":"2015-04-10T09:10:53.779Z","objectId":"5527939de4b0da2c5defa209","__type":"Pointer","className":"Bar"},"createdAt":"2015-04-10T09:10:54.057Z","updatedAt":"2015-04-10T09:10:54.057Z","objectId":"5527939ee4b0da2c5defa20c"}]}'
  recorded_at: Fri, 10 Apr 2015 09:10:54 GMT
- request:
    method: put
    uri: https://api.leancloud.cn/1.1/classes/Bar/5527939de4b0da2c5defa209?new=true
    body:
      encoding: UTF-8
      string: '{"foobar":"foobar","baz":"baz"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"objectId":"5527939de4b0da2c5defa209","baz":"baz","foobar":"foobar","updatedAt":"2015-04-10T09:10:54.732Z"}'
  recorded_at: Fri, 10 Apr 2015 09:10:54 GMT
recorded_with: VCR 2.4.0
