---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/2HvBAF0Dgj
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:17.893Z","objectId":"2HvBAF0Dgj"}'
  recorded_at: Mon, 22 Apr 2013 16:03:17 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"other":{"__type":"Pointer","className":"Post","objectId":"2HvBAF0Dgj"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/lNEWlijx5l
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:17.992Z","objectId":"lNEWlijx5l"}'
  recorded_at: Mon, 22 Apr 2013 16:03:18 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/lNEWlijx5l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"109ee88975e2159bdcf8dbf8e6878829"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"other":{"__type":"Pointer","className":"Post","objectId":"2HvBAF0Dgj"},"createdAt":"2013-04-22T16:03:17.992Z","updatedAt":"2013-04-22T16:03:17.992Z","objectId":"lNEWlijx5l"}'
  recorded_at: Mon, 22 Apr 2013 16:03:18 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/55279399e4b0da2c5defa1db
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:49.418Z","objectId":"55279399e4b0da2c5defa1db"}'
  recorded_at: Fri, 10 Apr 2015 09:10:49 GMT
[...]
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Post/55279399e4b0da2c5defa1de
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:10:49.722 GMT
    body:
      encoding: UTF-8
      string: '{"other":{"__type":"Pointer","className":"Post","objectId":"55279399e4b0da2c5defa1db"},"createdAt":"2015-04-10T09:10:49.722Z","updatedAt":"2015-04-10T09:10:49.722Z","objectId":"55279399e4b0da2c5defa1de"}'
  recorded_at: Fri, 10 Apr 2015 09:10:49 GMT
recorded_with: VCR 2.4.0
