---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"hello"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/UzS4Cr4U3J
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:23.371Z","objectId":"UzS4Cr4U3J"}'
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/UzS4Cr4U3J
    body:
      encoding: UTF-8
      string: '{"title":"hello 2"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"713d90a679b7296644271208d96d7d8f"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"updatedAt":"2013-04-22T16:03:23.498Z"}'
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"hello"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/5527939fe4b0da2c5defa234
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:55.609Z","objectId":"5527939fe4b0da2c5defa234"}'
  recorded_at: Fri, 10 Apr 2015 09:10:55 GMT
- request:
    method: put
    uri: https://api.leancloud.cn/1.1/classes/Post/5527939fe4b0da2c5defa234?new=true
    body:
      encoding: UTF-8
      string: '{"title":"hello 2"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"objectId":"5527939fe4b0da2c5defa234","title":"hello 2","updatedAt":"2015-04-10T09:10:55.930Z"}'
  recorded_at: Fri, 10 Apr 2015 09:10:55 GMT
recorded_with: VCR 2.4.0
