---
http_interactions:
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/requestSmsCode
    body:
      encoding: UTF-8
      string: '{"mobilePhoneNumber":"18668012283","op":"test","ttl":5}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Fri, 10 Apr 2015 09:57:10 GMT
recorded_with: VCR 2.4.0
