---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/TestSave
    body:
      encoding: UTF-8
      string: '{"age":20}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/TestSave/ZktEu4WIv0
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:15.393Z","objectId":"ZktEu4WIv0"}'
  recorded_at: Mon, 22 Apr 2013 16:03:15 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/TestSave/ZktEu4WIv0
    body:
      encoding: UTF-8
      string: '{"age":40}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4c37cdfe0177a31ced681163a966bf82"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"updatedAt":"2013-04-22T16:03:15.462Z"}'
  recorded_at: Mon, 22 Apr 2013 16:03:15 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/TestSave
    body:
      encoding: UTF-8
      string: '{"age":20}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/TestSave/55279390e4b0da2c5defa16e
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:40.008Z","objectId":"55279390e4b0da2c5defa16e"}'
  recorded_at: Fri, 10 Apr 2015 09:10:40 GMT
- request:
    method: put
    uri: https://api.leancloud.cn/1.1/classes/TestSave/55279390e4b0da2c5defa16e?new=true
    body:
      encoding: UTF-8
      string: '{"age":40}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"objectId":"55279390e4b0da2c5defa16e","age":40,"updatedAt":"2015-04-10T09:10:40.324Z"}'
  recorded_at: Fri, 10 Apr 2015 09:10:40 GMT
recorded_with: VCR 2.4.0
