---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/SNcYuo3t5K
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-05-21T17:44:02.504Z","objectId":"SNcYuo3t5K"}'
  recorded_at: Tue, 21 May 2013 17:44:02 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Comment
    body:
      encoding: UTF-8
      string: '{"text":"great post!"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Comment/lJjuzuDd6H
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-05-21T17:44:02.601Z","objectId":"lJjuzuDd6H"}'
  recorded_at: Tue, 21 May 2013 17:44:02 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/SNcYuo3t5K
    body:
      encoding: UTF-8
      string: '{"comments":{"__op":"AddUnique","objects":[{"__type":"Pointer","className":"Comment","objectId":"lJjuzuDd6H"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"08c4a7d37dd1d79503cdfba1d649a71b"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"comments":[{"__type":"Pointer","className":"Comment","objectId":"lJjuzuDd6H"}],"updatedAt":"2013-05-21T17:44:02.779Z"}'
  recorded_at: Tue, 21 May 2013 17:44:02 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/55279397e4b0da2c5defa1c1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:47.406Z","objectId":"55279397e4b0da2c5defa1c1"}'
  recorded_at: Fri, 10 Apr 2015 09:10:47 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Comment
    body:
      encoding: UTF-8
      string: '{"text":"great post!"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Comment/55279397e4b0da2c5defa1c6
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:47.739Z","objectId":"55279397e4b0da2c5defa1c6"}'
  recorded_at: Fri, 10 Apr 2015 09:10:47 GMT
- request:
    method: put
    uri: https://api.leancloud.cn/1.1/classes/Post/55279397e4b0da2c5defa1c1?new=true
    body:
      encoding: UTF-8
      string: '{"comments":{"__op":"AddUnique","objects":[{"__type":"Pointer","className":"Comment","objectId":"55279397e4b0da2c5defa1c6"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"objectId":"55279397e4b0da2c5defa1c1","comments":[{"__type":"Pointer","className":"Comment","objectId":"55279397e4b0da2c5defa1c6"}],"updatedAt":"2015-04-10T09:10:48.069Z"}'
  recorded_at: Fri, 10 Apr 2015 09:10:48 GMT
recorded_with: VCR 2.4.0
