---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/files/hello.txt
    body:
      encoding: US-ASCII
      string: Hello World!
    headers:
      Content-Type:
      - text/plain
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://files.parse.com/5c5d4752-8b5b-4a2b-9e5e-781c530f797b/807c829a-110e-4b33-86bb-43c9d7f57333-hello.txt
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"url":"http://files.parse.com/5c5d4752-8b5b-4a2b-9e5e-781c530f797b/807c829a-110e-4b33-86bb-43c9d7f57333-hello.txt","name":"807c829a-110e-4b33-86bb-43c9d7f57333-hello.txt"}'
  recorded_at: Mon, 22 Apr 2013 16:03:16 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/files/hello.txt
    body:
      encoding: UTF-8
      string: Hello World!
    headers:
      Content-Type:
      - text/plain
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/_File/55279393e4b0da2c5defa196
    body:
      encoding: UTF-8
      string: '{"size":12,"bucket":"7104en0u","url":"http:\/\/ac-7104en0u.clouddn.com\/tMpGhULp3t5XqCjsaOJFNM3yGX6IdiWxOMwn7g0z.txt","name":"hello.txt","createdAt":"2015-04-10T09:10:43.324Z","objectId":"55279393e4b0da2c5defa196"}'
  recorded_at: Fri, 10 Apr 2015 09:10:43 GMT
recorded_with: VCR 2.4.0
