---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"POST","path":"/1/classes/GameScore","body":{"score":1337,"playerName":"Sean
        Plott"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ffab602107ac1e1b99cadfce609e7557"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '[{"success":{"createdAt":"2013-04-22T16:03:13.472Z","objectId":"VJBh9sJjpo"}}]'
  recorded_at: Mon, 22 Apr 2013 16:03:13 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"POST","path":"/1/classes/GameScore","body":{"score":1337,"playerName":"Sean
        Plott"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"success":{"createdAt":"2015-04-10T09:10:29.552Z","objectId":"55279385e4b0da2c5defa0dc"}}]'
  recorded_at: Fri, 10 Apr 2015 09:10:29 GMT
recorded_with: VCR 2.4.0
