---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/users
    body:
      encoding: UTF-8
      string: '{"username":"0.27216148534966633","password":"topsecret"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/users/j0rFtnWhJy
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:27.061Z","objectId":"j0rFtnWhJy","sessionToken":"rmranzh72f4mb3bptat7siph1"}'
  recorded_at: Mon, 22 Apr 2013 16:03:27 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/users
    body:
      encoding: UTF-8
      string: '{"username":"0.2271271484508639","password":"topsecret"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/_User/552793a9e4b0da2c5defa2a7
    body:
      encoding: UTF-8
      string: '{"sessionToken":"xg8bmv95n8q443dvxb8bml6wt","createdAt":"2015-04-10T09:11:05.563Z","objectId":"552793a9e4b0da2c5defa2a7"}'
  recorded_at: Fri, 10 Apr 2015 09:11:05 GMT
recorded_with: VCR 2.4.0
