---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"hello"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/foSiAYPyDd
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:19.904Z","objectId":"foSiAYPyDd"}'
  recorded_at: Mon, 22 Apr 2013 16:03:19 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/foSiAYPyDd
    body:
      encoding: UTF-8
      string: '{"title":{"__op":"Delete"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aefca97cb03076f4ddb34f20565afd80"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"updatedAt":"2013-04-22T16:03:20.599Z"}'
  recorded_at: Mon, 22 Apr 2013 16:03:21 GMT
[...]
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"hello"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/5527939be4b0da2c5defa1f5
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:51.410Z","objectId":"5527939be4b0da2c5defa1f5"}'
  recorded_at: Fri, 10 Apr 2015 09:10:51 GMT
- request:
    method: put
    uri: https://api.leancloud.cn/1.1/classes/Post/5527939be4b0da2c5defa1f5?new=true
    body:
      encoding: UTF-8
      string: '{"title":{"__op":"Delete"}}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"objectId":"5527939be4b0da2c5defa1f5","updatedAt":"2015-04-10T09:10:51.690Z"}'
  recorded_at: Fri, 10 Apr 2015 09:10:51 GMT
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Post/5527939be4b0da2c5defa1f5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:10:51.690 GMT
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2015-04-10T09:10:51.690Z","createdAt":"2015-04-10T09:10:51.410Z","objectId":"5527939be4b0da2c5defa1f5"}'
  recorded_at: Fri, 10 Apr 2015 09:10:51 GMT
recorded_with: VCR 2.4.0
