---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/aZ7tiNFNDZ
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-06-21T16:16:14.217Z","objectId":"aZ7tiNFNDZ"}'
  recorded_at: Fri, 21 Jun 2013 16:16:14 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?where=%7B%22objectId%22:%7B%22$in%22:%5B%22aZ7tiNFNDZ%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%2[...]
[...]
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"foo"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/Post/552793a5e4b0da2c5defa269
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:11:01.583Z","objectId":"552793a5e4b0da2c5defa269"}'
  recorded_at: Fri, 10 Apr 2015 09:11:01 GMT
[...]
- request:
    method: get
    uri: https://api.leancloud.cn/1.1/classes/Post?where=%7B%22objectId%22:%7B%22$in%22:%5B%22552793a5e4b0da2c5defa269%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 10 Apr 2015 09:11:01.912 GMT
    body:
      encoding: UTF-8
      string: '{"results":[{"title":"foo","createdAt":"2015-04-10T09:11:01.583Z","updatedAt":"2015-04-10T09:11:01.583Z","objectId":"552793a5e4b0da2c5defa269"}]}'
  recorded_at: Fri, 10 Apr 2015 09:11:02 GMT
recorded_with: VCR 2.4.0
