---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body:
      encoding: UTF-8
      string: '{"foo":"1"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/BatchTestObject/mNERP2UG2S
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:12.423Z","objectId":"mNERP2UG2S"}'
  recorded_at: Mon, 22 Apr 2013 16:03:12 GMT
[...]
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"DELETE","path":"/1/classes/BatchTestObject/mNERP2UG2S"},{"method":"DELETE","path":"/1/classes/BatchTestObject/39gsN2b4wb"},{"method":"DELETE","path":"/1/classes/BatchTestObject/uJMOgI6jws"},{"method":"DELETE","path":"/1/classes/BatchTestObject/azPVsasGJA"},{"method":"DELETE","path":"/1/classes/BatchTestObject/CCUyAJD6qP"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ce743ce78185012845d9156c3362f264"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '[{"success":true},{"success":true},{"success":true},{"success":true},{"success":true}]'
  recorded_at: Mon, 22 Apr 2013 16:03:13 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/BatchTestObject
    body:
      encoding: UTF-8
      string: '{"foo":"1"}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/BatchTestObject/55279383e4b0da2c5defa0c1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:27.568Z","objectId":"55279383e4b0da2c5defa0c1"}'
  recorded_at: Fri, 10 Apr 2015 09:10:27 GMT
[...]
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"DELETE","path":"/1.1/classes/BatchTestObject/55279383e4b0da2c5defa0c1"},{"method":"DELETE","path":"/1.1/classes/BatchTestObject/55279383e4b0da2c5defa0c8"},{"method":"DELETE","path":"/1.1/classes/BatchTestObject/55279384e4b0da2c5defa0cb"},{"method":"DELETE","path":"/1.1/classes/BatchTestObject/55279384e4b0da2c5defa0d0"},{"method":"DELETE","path":"/1.1/classes/BatchTestObject/55279384e4b0da2c5defa0d2"}]}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"success":{}},{"success":{}},{"success":{}},{"success":{}},{"success":{}}]'
  recorded_at: Fri, 10 Apr 2015 09:10:29 GMT
recorded_with: VCR 2.4.0
