---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/TestModelObject
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/TestModelObject/K9I570yzN6
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:16.874Z","objectId":"K9I570yzN6"}'
  recorded_at: Mon, 22 Apr 2013 16:03:16 GMT
- request:
    method: post
    uri: https://api.leancloud.cn/1.1/classes/TestModelObject
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Avoscloud-Application-Id:
      - <X-AVOSCloud-Application-Id>
      X-Avoscloud-Application-Key:
      - <X-AVOSCloud-Application-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /1.1/classes/TestModelObject/55279395e4b0da2c5defa1a8
    body:
      encoding: UTF-8
      string: '{"createdAt":"2015-04-10T09:10:45.008Z","objectId":"55279395e4b0da2c5defa1a8"}'
  recorded_at: Fri, 10 Apr 2015 09:10:45 GMT
recorded_with: VCR 2.4.0
